gradio==6.13.0
langchain==1.2.15
langchain_community==0.4.1
langchain_experimental==0.4.1
langchain_groq==1.1.2
langchain_huggingface==1.2.2
langchain_text_splitters==1.1.2
python-dotenv==1.2.2
watchdog==6.0.0
